*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   
    max-width: 700px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    display: block;
    margin: auto;
    width: 700px;
    height: 80vh;
    
}

/* styling prev and next icon */
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    opacity: 0;
    transition: opacity 0.25s;
}

.swiper .swiper-button-prev:hover {
    opacity: 1;
    color: white;
}

.swiper .swiper-button-next:hover {
    opacity: 1;
    color: white;
}

/* Syling the pagination */
.swiper .swiper-pagination-bullet-active{
background-color:white;

}

div .link{
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}


/* media query */


@media screen and (max-width: 700px) {
    .swiper-slide img{
        width: 100%;
        height: auto;
    }
    
     .swiper .swiper-button-next{
        opacity: 1;
color: white;

    }

    .swiper .swiper-button-prev{
        opacity: 1;
color: white;

    }

    .swiper .swiper-pagination{
        display: none;
    }

    
}
    
    
    
    
    